body {
  background-color: $body-color-bg;
  font-family: $base-sans;
  color: $body-color-text;
}

main {
  background-color: $main-color-bg;
}

h1 {
  border-bottom: 1px solid $border-color;
  padding-bottom: 1rem;
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

h1, h2, h3 {
  font-family: $base-sans;
  color: $body-color-text;
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid $border-color;
  background-color: $border-color-bg;
  border-radius: 10px;
  color: $card-text-color;
  box-shadow: $card-box-shadow;

  h2, h3 {
    text-transform: uppercase;
    color: $card-text-color;
    justify-content: left;
  }

  a {
    color: $dark;
    transition: ease;
    transition-duration: 300ms;
  }
}

p {
  font-size: 1rem;
}

a {
  color: $link-color;
  font-size: 1rem;
  &:hover {
    color: $link-color-hover;
  }
}

.spinner-wrapper {
  width: 100%;
  text-align: center;

  .spinner {
    height: 150px;
    
    @keyframes spinner {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      } 
    }
    animation: spinner 3.5s linear infinite;
  }
}

.form {
  display: flex;
  flex-direction: column;

  input, textarea {
    border: 2px solid $border-color-bg;
    background-color: $border-color-bg;
    margin-bottom: 1rem;
    border-radius: 4px;
    padding: 6px;
    font-family: $base-sans;
    font-size: 1rem;

    &[data-validity="false"] {
      border: 2px solid $danger;
    }
  }

  button {
    margin-top: 1.2rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: .5rem 0;
    border-radius: 4px;
    font-weight: 600;

    transition: ease;
    transition-duration: 300ms;

    &:hover {
      background-color: white;
      color: $dark;
    }
  }
}