main {
  padding: 40px 15px;
}

.medium {
  max-width: 600px;
}

.narrow {
  max-width: 400px;
}

.card {
  padding: 20px 15px 30px;
  margin-bottom: 30px;
  width: 100%;
  flex-wrap: wrap;

  .image-wrapper {
    padding-right: 15px;
    display: flex;
    justify-content: center;
    

    @media (max-width: $bp-sm) {
      padding-right: 0;
      margin-bottom: 15px;
    }

    img {
      max-width: 100%;
    }
  }
}

#footer {
  padding-left: 15px;
  padding-right: 15px;

  .footer-element {
    padding: 7.5px;
  }

  @media (max-width: $bp-sm) {
    [class*="col"]:not(:first-of-type) {
      margin-top: 1.5rem;
    }
  }
}

@media (max-width: 650px) {
  #header .menu {
    a {
      font-size: .75rem;
    }
  }

  img {
    display: flex;
    margin: 0 auto;
  }
}

